<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="messageContainer">
        <h1>Message Details</h1>
        <div class="messageUser"><%= user %></div>
        <div class="messageText"><%= text %></div>
        <div class="messageDate"><%= added %></div>
    </div>
    <a href="/">See all messages</a>
</body>
</html>